.slid-bar {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}
.slid-bar-home {
    color: black;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}